<p id="notice"><%= notice %></p>

<head>
  <h1>Series</h1>
</head>

<body style="margin: 0px">

  <div class="series">
    <div class="container">
      <div class="cards row">
        <% @series.each do |series| %>
            <div class="card col-xs-12">
              <% if series.image != nil %>
                <%= link_to image_tag(series.image), series_path(series) %>
              <% else %>
                <%= link_to image_tag("/images/BW_placeholder.jpg"), series_path(series) %>
              <% end %>
              <h1><%= series.name %></h1>

            </div>
        <% end %>
      </div>
    </div>
  </div>
</body>


<%= link_to 'New Series', new_series_path %>
