<p id="notice"><%= notice %></p>  

  <%= form_tag lista_series_url, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= select_tag 'tipo_id', options_for_select(Tipo.all.collect{ |u| [u.name, u.id] }), include_blank: true %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>

<head>
  <h1>Series</h1>
</head>

<body style="margin: 0px">

  <div class="series">
    <div class="container">
      <div class="cards row">
        <% @series.each do |series| %>
            <div class="card cola-xs-12" style="  margin: 0px">
              <% if series.image != nil %>
                <%= link_to image_tag(series.image, :style => "width: 100%"), series_path(series) %>
              <% else %>
                <%= link_to image_tag("/images/BW_placeholder.jpg", :style => "width: 100%"), series_path(series) %>
              <% end %>
              <h3><%= series.name %></h3>

            </div>
        <% end %>
      </div>
    </div>
  </div>
</body>


<%= link_to 'New Series', new_series_path %>
