<p id="notice"><%= notice %></p>



<div style="display: flex;">
  <div>
    <% if @serie.image != nil %>
        <%= image_tag @serie.image, :style => "width: 250px" %>
    <% else %>
        <%= image_tag("/images/BW_placeholder.jpg", :style => "width: 200px") %>
    <% end %>
  </div>
  <div style="margin: 0 30px;">
    <h2><%= @serie.name %></h2>
    <h4>by <%= @serie.creator %></h4>
    <h4>Rated <%= @serie.maturity %></h4>
    <h4><%= @serie.year %></h4>

    <% if @user %>

        <% rating = RatingSerie.find_by(user: @user, serie: @serie) %>

        <% if rating %>
            <% full = rating.value.floor%>
            <% half = 0 %>
            <% if rating.value - full > 0 %>
                <% half = 1 %>
            <% end %>
            <% empty = 5 - full - half%>
            <% half %>

            <% (1..full).each do |i| %>
                <%= image_tag('star-on.png') %>
            <% end %>
            <% (1..half).each do |i| %>
                <%= image_tag('star-half.png') %>
            <% end %>
            <% (1..empty).each do |i| %>
                <%= image_tag('star-off.png') %>
            <% end %>
        <% else %>

            <%= form_tag '/rating_series', :method => 'post' do %>

                <%= number_field_tag :value, params[:value], in: 1..5, :style => "height: 35px; width: 35px; font-size: 100%", value:1 %>

                <%= hidden_field_tag(:serie, @serie.id) %>
                <%= hidden_field_tag(:user, @user.id) %>
                <%= submit_tag "Rate!", :name => nil %>

            <% end %>

        <% end %>


    <% end %>
  </div>
  <div style="margin: 0 0 0 250px;">
    <% uri = URI.parse("https://accounts.spotify.com/api/token") %>
    <% request = Net::HTTP::Post.new(uri) %>
    <% request["Authorization"] = "Basic MzYyNmVhMDA5N2IyNDA3MTk1OWE5ZmQ2MmExOWIxNzA6ZDgzMGVmYjUzZWE0NDQ0ZWI2Y2JjODg1YmQwYzIxNWY=" %>
    <% request.set_form_data("grant_type" => "client_credentials",)%>
    <% req_options = {use_ssl: uri.scheme == "https",} %>
    <% response = Net::HTTP.start(uri.hostname, uri.port, req_options) do |http| %>
        <% http.request(request) %>
    <% end %>
    <% response = JSON.parse(response.body) %>

    <% uri = URI.parse("https://api.spotify.com/v1/search?q="+@serie.name.gsub(' ', '+')+"+soundtrack&type=playlist&limit=1") %>
    <% request = Net::HTTP::Get.new(uri) %>
    <% request["Accept"] = "application/json" %>
    <% request["Authorization"] = "Bearer " + response["access_token"] %>
    <% req_options = {use_ssl: uri.scheme == "https",} %>
    <% response = Net::HTTP.start(uri.hostname, uri.port, req_options) do |http| %>
        <% http.request(request) %>
    <% end %>
    <% response = JSON.parse(response.body) %>
    <h3>Soundtrack</h3>
    <%= content_tag(:iframe,'',width: 300, height: 300, frameborder: 0, allowtransparency: true, src: response["playlists"]["items"][0]["external_urls"]["spotify"].gsub('open.spotify.com/user', 'open.spotify.com/embed/user')) %>
    <br>
  </div>
</div>





<div class="text-center" style="display: flex;">
  <div style="margin: 0 0;">
    <%= button_to 'Ver Capítulos', show_some_capitulos_path(@serie), method: :get%>
  </div>
  <div style="margin: 0 30px;">
    <%= button_to 'Editar Serie', edit_series_path(@serie) %>
  </div>
  <div >
    <%= button_to 'Eliminar Serie', @serie, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>


<br>
<div>
  <table style="width: 800px; max-width: 75%">
    <tr><th>Commentarios</th></tr>

    <% @comments.each do |comment| %>

      <tr><td>
      <div style="display: flex;">
        <b><%= User.find_by_id(comment.user_id).email %>: </b>
        <div style="margin: 0 5px;">
        <%= comment.body %>
        </div>
        <% if user_signed_in? && current_user.id == comment.user_id %>
          <%= button_to 'Eliminar', comment, method: :delete, data: { confirm: 'Are you sure?' }, :style => "margin: 0 20px;" %>
        <% end %>
        </div>
      </td></tr>

    <% end %>


    <% if user_signed_in? %>

    <tr><td>
      <%= form_tag '/comments', :method => 'post' do %>
        
          <%= text_field_tag :body, params[:body], :style => "width: 80%; margin: 0 0" %>
          <%= hidden_field_tag(:user_id, current_user.id) %>
          <%= hidden_field_tag(:series_id, @serie.id) %>
          <%= submit_tag "Commentar", :name => nil, :style => "margin: 0 0" %>
        
      <% end %>      
    </td></tr>

    <% end %>
  </table>
</div>



</div>
