<p id="notice"><%= notice %></p>

<div align="center">

  <% if @serie.image != nil %>
    <%= image_tag @serie.image %>
  <% else %>
    <%= link_to image_tag("/images/BW_placeholder.jpg") %>
  <% end %>
  <h1><%= @serie.name %></h1>
  <h3>by <%= @serie.creator %></h3>
  <h3>Rated <%= @serie.maturity %></h3>
  <h3><%= @serie.year %></h3>

  <%= link_to "Capitulo", controller: "capitulos", action: "showsome", id: @serie %>
  <%= link_to 'Editar', edit_series_path(@serie) %>
  <%= link_to 'Eliminar', @serie, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>

</div>
