<p id="notice"><%= notice %></p>

<div align="center">
  <%= image_tag @serie.image %>
  <h1><%= @serie.name %></h1>
  <h3>by <%= @serie.creator %></h3>
  <h3>Rated <%= @serie.maturity %></h3>
  <h3><%= @serie.year %></h3>

  <%= link_to 'Edit', edit_series_path(@serie) %>
  <%= link_to 'Back', 'http://localhost:3000/series'%>

</div>

</div>

