
<h3> Top 5 series mejor rankeadas </h3>
<% @series_mostrated.each do |s| %>
  <p>
    <%= s.name %><br>
    Rating promedio: <%= s.rating / s.times_rated %>
  </p>
<%end%>

<h3> Top 5 capitulos mejor rankeados </h3>
<% @capitulos_mostrated.each do |s| %>
  <p>
    Serie: <%= s.serie_name %><br>
    Capitulo: <%= s.cap_name %><br>
    <%= s.rating/s.times_rated %> veces vista.
  </p>
<%end%>

<h3> Top 5 series con mas favoritos </h3>
  <% @series_mostfavorited.each do |s| %>
    <p>
      <%= s.name %><br>
      Vista <%= s.times %> veces.
    </p>
<%end%>


<h3> Top 5 capitulos mas vistos </h3>
  <% @capitulos_mostwatched.each do |s| %>
    <p>
      Serie: <%= s.serie_name %><br>
      Capitulo: <%= s.cap_name %><br>
      Visto <%= s.times %> veces.
    </p>
<%end%>
