<body style="margin: 0px">
<div class="container">


    <% if user_signed_in? %>
    <div>
    <%= image_tag("/images/BW_placeholder.jpg", :style => "width: 100%") %>
    <% if current_user.image != nil %>
      <%= image_tag(current_user.image, :style => "width: 100%")%>
    <% else %>
      <%= image_tag("/images/BW_placeholder.jpg", :style => "width: 100%") %>
    <% end %>
    </div>

    <h2>Cuentas Asociadas</h2>
      <div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content">
        <% @users1.each do |user| %>
          <% if user.parent_id == current_user.id %>
            <div class="col-xs-12">
              <div class="text-center">
                <h3><%= user.email %></h3>
                <%= button_to "Editar", "/users/edit_user/#{user.id}", :method => "get" %>

              </div>

              <br>
            </div>
            <% end %>
        <% end %>
      </div>
    <h2>Crear Cuenta Asociada</h2>
      <div class="col-xs-12">
        <%= form_tag("/users/createson", method: "post") do %>
          <%= label_tag(:email, "Email hijo") %>
          <%= email_field_tag(:email) %>

          <%= label_tag(:password, "Password hijo") %>
          <%= password_field_tag(:password) %>

          <%= hidden_field_tag(:parent_id, current_user.id) %>


          <%= submit_tag("Crear hijo") %>
        <% end %>

      </div>
    <h2>Modificar cuenta</h2>
      <div class="col-xs-12">
         <%= button_to 'Editar Cuenta', '/users/edit', {:method => :get , :style => "vertical-align: middle; text-align: center", :class => 'buttonTo' } %>

    </div>

    <%if current_user.admin %>
      <h2> Editar usuarios (Admin Only)</h2>
      <%@users2.each do |user|%>
        <%=user.email%>

        <div class="col-xs-12">
          <%= button_to "Editar", "/users/edit_user/#{user.id}", :method => "get" %>
          <%= form_tag("/users/delete_user", method: "post") do %>
            <%= hidden_field_tag(:id, user.id) %>
            <%= submit_tag("Eliminar usuario") %>
          <% end %>

        </div>

        <br>
      <%end%>
      <h2> Crear usuario administrador <h2>
        <div class="col-xs-12">
          <%= form_tag("/users/create_admin", method: "post") do %>
            <%= label_tag(:email, "Email admin") %>
            <%= email_field_tag(:email) %>

            <%= label_tag(:password, "Password admin") %>
            <%= password_field_tag(:password) %>


            <%= submit_tag("Crear admin") %>
          <% end %>

        </div>
    <%end%>



  <% else %>

        <h2>Error 530: You aren't logged into an account.</h2>
  <% end %>
</div>
</body>
