<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @capitulo.title %>
</p>

<p> <%= @capitulo.serie.name%> : <%= @capitulo.season%>x<%= @capitulo.episode%>
</p>
<p>
  <strong>Descripcion:</strong>
  <%= @capitulo.description%>
</p>

<br>

  <% if @user %>

      <% rating = RatingCapitulo.find_by(user: @user, capitulo: @capitulo) %>
      <% if rating %>
          <% full = rating.value.floor%>
          <% half = 0 %>
          <% if rating.value - full > 0 %>
              <% half = 1 %>
          <% end %>
          <% empty = 5 - full - half%>
          <% half %>

          <% (1..full).each do |i| %>
              <%= image_tag('star-on.png') %>
          <% end %>
          <% (1..half).each do |i| %>
              <%= image_tag('star-half.png') %>
          <% end %>
          <% (1..empty).each do |i| %>
              <%= image_tag('star-off.png') %>
          <% end %>
      <% else %>

          <%= form_tag '/rating_capitulos', :method => 'post' do %>

              <%= number_field_tag :value, params[:value], in: 1..5, value: 1 %>
              <%= hidden_field_tag(:capitulo, @capitulo.id) %>
              <%= hidden_field_tag(:user, @user.id) %>
              <%= submit_tag "Rate!", :name => nil %>

          <% end %>

      <% end %>

    </br>
    </br>
    </br>

    <% seen = SeenCapitulo.find_by(user: @user, capitulo: @capitulo) %>
    <% if seen %>

        <div >
          <%= form_tag '/seen_capitulos', :method => 'delete' do %>

              <%= hidden_field_tag(:capitulo, @capitulo.id) %>
              <%= hidden_field_tag(:user, @user.id) %>
              <%= submit_tag "Visto", :name => nil %>

          <% end %>
        </div>

    <%else%>
        <%= form_tag '/seen_capitulos', :method => 'post' do %>

            <%= hidden_field_tag(:capitulo, @capitulo.id) %>
            <%= hidden_field_tag(:user, @user.id) %>
            <%= submit_tag "No Visto", :name => nil %>

        <% end %>
    <% end %>
    <% fav = FavoriteCapitulo.find_by(user: @user, capitulo: @capitulo) %>
    <% if fav %>

        <div >
          <%= form_tag '/favorite_capitulos', :method => 'delete' do %>

              <%= hidden_field_tag(:capitulo, @capitulo.id) %>
              <%= hidden_field_tag(:user, @user.id) %>
              <%= submit_tag "Favorito!", :name => nil %>

          <% end %>
        </div>

    <%else%>

        <%= form_tag '/favorite_capitulos', :method => 'post' do %>

            <%= hidden_field_tag(:capitulo, @capitulo.id) %>
            <%= hidden_field_tag(:user, @user.id) %>
            <%= submit_tag "No es Favorito", :name => nil %>

        <% end %>
    <% end %>

    </br>
    </br>
    </br>

    <% wl = WatchLater.find_by(user: @user, capitulo: @capitulo) %>
    <% if wl %>

        <strong>Está en Watch Later</strong>

        <div >
          <%= form_tag '/watch_laters', :method => 'delete' do %>

              <%= hidden_field_tag(:capitulo, @capitulo.id) %>
              <%= hidden_field_tag(:user, @user.id) %>
              <%= submit_tag "Eliminar", :name => nil %>

          <% end %>
        </div>

    <%else%>
        <strong>No está en Watch Later</strong>


        <%= form_tag '/watch_laters', :method => 'post' do %>

            <%= hidden_field_tag(:capitulo, @capitulo.id) %>
            <%= hidden_field_tag(:user, @user.id) %>
            <%= submit_tag "Agregar", :name => nil %>

        <% end %>
    <% end %>
  <% end %>

</br>
</br>

<div style="margin: 0 0;">
  <%= button_to 'Edit', edit_capitulo_path(@capitulo)%>
</div>

<div style="margin: 0 30px;">
  <%= button_to 'Back', capitulos_path %>
</div>
