<body style="margin: 0px">
<div class="container">



    <% if user_signed_in? %>
    <h2>Modificar cuenta</h2>
      <div class="col-xs-12" style="padding: 0 10px 10px 10px">
         <%= button_to 'Editar Cuenta', '/users/edit', {:method => :get , :style => "vertical-align: middle; text-align: center; margin: 0", :class => 'buttonTo' } %>

      </div>
    <br>

    <% if current_user.parent_id == nil %>
    <table style="width: 800px; max-width: 75%">
    <tr><th>Cuentas Asociadas</th></tr>

    <% @users1.each do |user| %>
      <% if user.parent_id == current_user.id %>

        <tr><td>
        <div style="display: flex;">
          <div style="margin: 0 5px 0 0;">
          <%= user.email %>
          </div>
          
            <%= button_to "Editar", "/users/edit_user/#{user.id}", :method => "get", :style => "margin: 0 20px;" %>
            
          
          </div>
        </td></tr>
      <% end %>
    <% end %>

  </table>
  <br>

  <table style="width: 800px; max-width: 75%">
    <tr><th>Crear Cuenta Asociada</th></tr>

    
        <%= form_tag("/users/createson", method: "post") do %>
        <tr><td>
        <div style="display: flex;">
        <%= email_field_tag(:email) %>
        </div>
        </td></tr>
        
        <tr><td>
        <div style="display: flex;">
        <%= password_field_tag(:password) %>
        <%= hidden_field_tag(:parent_id, current_user.id) %>
        </div>
        </td></tr>
        
        
        <tr><td>
        <div style="display: flex;">
        <%= submit_tag("Crear hijo") %>
        </div>
        </td></tr>
  
    <% end %>

  </table>
  <% end %>


    
    

    <%if current_user.admin %>
    <table style="width: 800px; max-width: 75%">
    <tr><th>Editar usuarios (Admin Only)</th></tr>

    <% @users2.each do |user| %>
      

        <tr><td>
        <div style="display: flex;">
          <div style="margin: 0 5px 0 0;">
          <%= user.email %>
          </div>
          
            <%= button_to "Editar", "/users/edit_user/#{user.id}", :method => "get", :style => "margin: 0 20px;" %>
            
          
          </div>
        </td></tr>
      
    <% end %>

  </table>
  <br>
  <table style="width: 800px; max-width: 75%">
    <tr><th>Crear usuario administrador</th></tr>

    
        <%= form_tag("/users/create_admin", method: "post") do %>
        <tr><td>
        <div style="display: flex;">
        <%= email_field_tag(:email) %>
        </div>
        </td></tr>
        
        <tr><td>
        <div style="display: flex;">
        <%= password_field_tag(:password) %>
        </div>
        </td></tr>
        
        
        <tr><td>
        <div style="display: flex;">
        <%= submit_tag("Crear admin") %>
        </div>
        </td></tr>
  
    <% end %>

  </table>
      
      
    <%end%>

     

  <% else %>

        <h2>Error 530: You aren't logged into an account.</h2>
  <% end %>
</div>
</body>
