<p id="notice"><%= notice %></p>  


<body style="margin: 0px">

  <h1>Series Favoritas</h1>

  <div class="series">
    <div class="container">
      <div class="cards row">
        <% @favorites.each do |fav| %>
            <% series = fav.serie%>
            <div class="card cola-xs-12" style="  margin: 0px">
              <% if series.image != nil %>
                <%= link_to image_tag(series.image, :style => "width: 100%"), series_path(series) %>
              <% else %>
                <%= link_to image_tag("/images/BW_placeholder.jpg", :style => "width: 100%"), series_path(series) %>
              <% end %>
              <h3><%= series.name %></h3>

            </div>
        <% end %>
      </div>
    </div>
  </div>

  <h1>Capitulos Favoritos</h1>


  <div class="capitulos">
    <div class="container">
      <div class="cards row">
        <% @capitulos.each do |fav| %>
            <% episode = fav.capitulo%>
            <div class="card col-xs-12">
              <strong><%= episode.title %>, from <%= episode.serie.name %></strong>
              <strong>Episodio <%= episode.episode%>, Temporada <%= episode.season%></strong></br>

              <div style="margin: 0 30px;">
                <%= button_to 'Learn More', capitulo_path(episode) %>
              </div>

            </div>
        <% end %>
      </div>
    </div>
  </div>

</body>
