<div class="row" style=" max-height: 120px; background-color:#222E59 " >
  <div align="center" class="col-2" style="vertical-align: middle; background-color:#222E59; max-height: 120px">
  <%= link_to image_tag("/images/BingeWatchr.png", alt: "BingeWatchr logo", :style =>  'display:inline-block; width: 30%'), root_path%>
  </div>
  <div align="right" class="col-1" style="vertical-align: middle; background-color:#222E59;height:100%">
  <% if user_signed_in? %>
    <% if current_page?('/profile') %>
      <%= button_to 'Logout', destroy_user_session_path, {:method => :delete , :style => "vertical-align: middle; text-align: center", :class => 'buttonTo' } %>
    <% else %>
      <%= button_to 'Perfíl', '/profile', {:method => :get , :style => "vertical-align: middle; text-align: center", :class => 'buttonTo' } %>
    <% end %>
    <%= button_to 'Series', '/series', {:method => :get , :style => "vertical-align: middle; text-align: center", :class => 'buttonTo' } %>
  <% else %>
    <%= button_to('Login', new_user_session_path, :method => "get", :html => { :style => 'padding: 0px 0px; margin: 0px 0;vertical-align: middle; text-align: center'})  %>  
  <% end %>
  </div>
</div>